.card {
    border : 1px solid black;
    margin-bottom : 1em;
    border-radius : 0.5em;
    padding: 1em;
    background-color : white;
    color : black;
    transition : 'all 400ms ease-in-out';
}

.card-active {
    background-color : green;
    color : white;
}